#page-header{
	text-align: center;
	color: black;
}

#instructions {
	text-align: center;
}

button{
	height: 50px;
	width: 50px;
	text-align: center;
	font-size: 12px;
	border-radius: 8px;
}

body {
	background-color: #E6E6FA;
}

.div-guess-letters {
    height: 35px;
}